@font-face {
  font-family: "iconfont"; /* Project id 2946376 */

  src: url('//at.alicdn.com/t/font_2946376_hhii216sc67.woff2?t=1638235653725') format('woff2'),
       url('//at.alicdn.com/t/font_2946376_hhii216sc67.woff?t=1638235653725') format('woff'),
       url('//at.alicdn.com/t/font_2946376_hhii216sc67.ttf?t=1638235653725') format('truetype');

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fabusekuai:before {
  content: "\ec46";
}  

.icon-tupiantianchong:before {
  content: "\e6b2";
}

.icon-shipin:before {
  content: "\e644";
}


.icon-xiaolian:before {
  content: "\e610";
}

.icon-xitongtongzhi:before {
  content: "\e6cc";
}

.icon-xiaoxi1:before {
  content: "\e61e";
}

.icon-xiaoxi2:before {
  content: "\e63e";
}

.icon-huoyuebang:before {
  content: "\e609";
}

.icon-huoyuebang1:before {
  content: "\e60a";
}

.icon-huoyuebang2:before {
  content: "\e60b";
}

.icon-huoyuebang3:before {
  content: "\e60c";
}

.icon-huoyuebang4:before {
  content: "\e60d";
}

.icon-dengji-C:before {
  content: "\e604";
}

.icon-dengji-B:before {
  content: "\e605";
}

.icon-dengji-D:before {
  content: "\e607";
}

.icon-dengji-A:before {
  content: "\e608";
}

.icon-jiantoul:before {
  content: "\e602";
}

.icon-yuanxingjiantou:before {
  content: "\e624";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e601";
}

.icon-huo:before {
  content: "\e65b";
}

.icon-jia:before {
  content: "\e600";
}

.icon-chacha:before {
  content: "\e62f";
}

.icon-xihuan2:before {
  content: "\e63b";
}

.icon-xihuan1:before {
  content: "\e63d";
}

.icon-weizhi:before {
  content: "\e711";
}

.icon-fenxiang:before {
  content: "\e606";
}

.icon-xiaoxi:before {
  content: "\e817";
}

.icon-jinghao:before {
  content: "\e701";
}

.icon-xianxingtubiaozhizuomoban-25:before {
  content: "\e61c";
}

.icon-guanliyuan_guanliyuanliebiao:before {
  content: "\e60f";
}

.icon-caidan:before {
  content: "\e790";
}